.spacer {
  flex-grow: 1;
}

.header-external-icon{
  display: flex;
  justify-content: center;
}

.header-container {
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
  position: fixed;
  padding: 8px 16px;
  height: 56px;
}
