<mat-toolbar>
  <p>Logo goes here</p>
  <span style="padding-right: 20px"></span>
  <p>Projects Experience Etc... Menu</p>
  <span class="spacer"></span>
  <div class="social-btn-group" role="group" aria-label="Social Icons">
    <button class="social-btn" mat-icon-button color="primary" (click)="openWindow(githubUrl)">
      <mat-icon svgIcon="github" class="social-icon" aria-hidden="false" aria-label="Github"></mat-icon>
    </button>
    <button class="social-btn" mat-icon-button color="primary" (click)="openWindow(linkedinUrl)">
      <mat-icon svgIcon="linkedin" class="social-icon" aria-hidden="false" aria-label="LinkedIn"></mat-icon>
    </button>
  </div>
</mat-toolbar>

